<!-- parallax-->
  <div class="parallax-container">
    <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center pink-text text-darken-1">Edu Jóias</h1>
      <div class="row center">
        <h5 class="header col s12 pink-text text-darken-1">Surpreenda quem você ama com lindas jóias feitas à mão</h5>
      </div>

      <br><br>

    </div>
  </div>
    <div class="parallax"><img src="assets/rings.jpg"></div>
  </div>

<!-- parallax-->

<br><br><br><br>

<!--   Icon Section   -->
  <div class="container">
    <div class="section">


      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img src="assets/diamond.svg"></h2>
            <h5 class="center">Feature one</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          </div>
        </div>

        <div class="col s12 m4">
          <h2 class="center light-blue-text"><img src="assets/money.svg"></h2>
          <div class="icon-block">
            <h5 class="center">Feature two</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img src="assets/cart-modern.svg"></h2>
            <h5 class="center">Feature three</h5>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          </div>
        </div>
      </div>

    </div>
  </div>
<!--   Icon Section   -->

<!-- parallax-->
  <div class="parallax-container">
    <div class="parallax"><img src="assets/wedding-rings.jpg"></div>
  </div>
<!-- parallax-->

<!-- section -->
<div class="container section scrollspy" id="projects">
  <div class="section">
    <br>
    <br>
    <h4 class="center">Nossa coleção</h4>
    <br>
    <div class="row">
      <div class="col s4">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="assets/aliança.jpg">
      </div>
      <div class="col s4">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="assets/anel.jpg">
      </div>
      <div class="col s4">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="assets/solitario.jpg">
      </div>
    </div><!--row-->

     <div class="row">
      <div class="col s4">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="assets/noivado.jpg">
      </div>
      <div class="col s4">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="assets/jewel.jpg">
      </div>
      <div class="col s4">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="assets/noivado2.jpg">
      </div>
    </div><!--row-->

    <div class="center">
      <a class="waves-effect waves-light btn red lighten-3">Veja Mais</a>
    </div>

  </div>
</div>
<!-- section -->

<!-- parallax-->
  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center pink-text text-darken-1">Edu Jóias</h1>
        <div class="row center">
          <h5 class="header col s12 pink-text text-darken-1">Conheça nossa coleção</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/wedding.jpg"></div>
  </div>
<!-- parallax-->
