<h1 class="header center teal-text text-lighten-2"><%= params[:category] %></h1>

</br></br>
<% if @jewels.count == 0 %>

  <h1> Não possui jóias nesta categoria </h1>

<% else %>

<div class="row">

  <% @jewels.each do |jewel| %>

    <div class="col s4">

      <a href="/jewels/<%= jewel.id %>">
        <%= image_tag jewel.jewel_img.url(:jewel_index), class: "jewel" %>
      </a>

    </div>

  <% end %>

</div>

<% end %>
